<div class="head-container">
  <div class="main-container">
    <div class="selection-cont">
      <select #c1 name="" id="country1" (mouseleave)="changebase(c1.value)">
        <option value="USD">US Dollar</option>
        <option value="INR">Indian Rupees</option>
        <option value="EURO">European Euro</option>
        <option value="JPY">Japanese Yen</option>
        <option value="CHF">Swiss Franc</option>
      </select>
      <p>to</p>
      <select #c2 name="" id="country1" (mouseleave)="tocountry(c2.value)">
        <option value="USD">US Dollar</option>
        <option value="INR">Indian Rupees</option>
        <option value="EUR">Euro</option>
        <option value="JPY">Japanese Yen</option>
        <option value="CHF">Swiss Franc</option>
      </select>
    </div>
    <button (click)="convert()">
      Submit
    </button>
    <div class="result-cont">
      <p>1 {{base}}</p>
      <p>=</p>
      <p>{{result}} {{cont2}}</p>
    </div>
  </div>
</div>